[submodule "Telivery_FE"]
	path = Telivery_FE
	url = https://github.com/Techeer-TeamB/Telivery_FE.git
	branch = develop
[submodule "Telivery_BE"]
	path = Telivery_BE
	url = https://github.com/Techeer-TeamB/Telivery_BE.git
	branch = develop
